.c-gallery {
    width: 100%;
    

    &__space-list {
        //background: rgb(200, 223, 231);
        background: rgb(245, 236, 212);
        display: flex;
        justify-content: center;
    }

    &__list-item {
        
        background: white;
        display: block;
        height:500px;
        width: 20%;
        margin: 20px;
        border-radius: 20px;
        box-shadow: 0 0 1em;;
        
    }

    &__list-img-container {
        height: 350px;
        padding-bottom: 15px;
        overflow: hidden;
    }

    &__list-img {
        width: 100%;
        border-radius: 20px;
        &:hover{
            transform: scale(1.1);
            transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }
    }

    &__list-item-text {
        padding: 20px;
    }

    &__card-text {
        font-family: $sec-font ;
    }

}