.c-header {
    height: 45px;
    width: 100%;
    background: black;
    position: fixed;
    display: flex;
    justify-content: center;

    &__img-container {
      height: 100%;
     
    }

    &__img-logo {
        object-fit: cover;
        height: 45px;
       
    }


}