$primary-font: 'Dancing Script', cursive;
$sec-font: 'Comfortaa', cursive;

@mixin mq($smallerValue,$biggerValue) {
    @media (min-width: #{$smallerValue}) and (max-width: $biggerValue) {
      @content;
    }
  } 
  
  body {
      background-color:whitesmoke;
    }


@keyframes opening {
    0%{
      opacity: 0;
    }
    
    25%{
        opacity: 0.3;
    }
    50%{
        opacity: 0.6;
    }
    75%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }   
}